  <app-header-bar></app-header-bar>
  <div class="all-content container">
    <!-- {{this.cookie.get("access_token")}} -->
    <!-- <a *ngFor="let item of servingsList" routerLink="/serving/{{ item.id }}" class="btn"> -->
    <a *ngFor="let item of servingsList" routerLink="/serving/{{item.id}}" class="btn">
      <div class="serving-item" href="#">
        <div class="serving-image"></div>
        <div class="serving-data">
          <div class="title-price">
            <h4>
              {{item.Name}} <br> R$: {{item.Price}}
            </h4>
          </div>
        </div>
      </div>
    </a>
  </div>

