<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex flex-row justify-content-between" id="navzao">
  <div class="logo-zone"></div>
  <div class="options">
    <button class="btn btn-secondary">Option</button>
    <button class="btn btn-secondary">Option</button>
    <button class="btn btn-secondary">Option</button>
    <button class="btn btn-secondary">Option</button>
    <button class="btn btn-secondary">Option</button>
  </div>
  <div class="empty-space-for-now"></div>
</nav>
<br><br><br><br>

