form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  background-color: rgb(190, 217, 221);
}

form .form-content{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items: center;
  width:40vw;
  height:14vh;
  /* border:solid 2px black; */
}
