<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="loading-overlay"> 
  <form (ngSubmit)="loginIn(loginform)">
    <div class="form-group">
      <input type="text" placeholder="E-mail" [(ngModel)]="loginform.email" name="email" class="form-control  mb-3">
      <input type="password" placeholder="Password" [(ngModel)]="loginform.password" name="password" class="form-control" ><br>
      <div class="w-100 d-flex justify-content-center flex-column border border-primary">
        <button id="send" type="submit" (click)="LoadSpinner()" class="btn btn-primary">enviar</button>
      </div>
    </div>
  </form>
</div>
