
<div class="">
  <form (ngSubmit)="loginIn(loginform)">
    <div class="form-group">
      <input type="text" placeholder="E-mail" [(ngModel)]="loginform.email" name="email" class="form-control  mb-3">
      <input type="password" placeholder="Password" [(ngModel)]="loginform.password" name="password" class="form-control" ><br>
      <div class="w-100 d-flex justify-content-center ">
        <button type="submit" class="btn btn-primary">enviar</button>
      </div>
    </div>
  </form>
</div>

